.footer {
  flex-direction: row;
}

.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link-icon {
  width: 1.1rem; 
  height: auto;

  transition: all 0.3s;
}

.footer__link-title {
  font-family: var(--ff-poppins);
  font-size: var(--fs-2xsm);

  transition: all 0.3s;
}

.footer__link-icon:hover {
  width: 1rem;

  box-shadow: 0rem 0.1rem 0.3rem rgba(148, 163, 184, 0.8);
}



