.footer-section__links-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  gap: 2rem;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item > a > img {
  width: 1.5rem; 
  height: auto;
  border-radius: 0.4rem;
  transition: all 0.3s;
}

.footer-item > a > img:hover {
  filter: drop-shadow(0rem 0.3rem 0.3rem rgba(148, 163, 184, 0.8));
}

.footer-item > p {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-extra-small);
}

