.header {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.header__name {
  font-family: lora;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-gray-700);
  margin: 0; padding: 0;
}
