.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  box-shadow: 0.3rem 0rem 1rem rgba(0, 0, 0, 0.1);
  background-color: var(--clr-bg-light);
}
.header__inner {
  display: flex;
  justify-content: center; 

  padding: 0.6rem;
}

.header__logo {
  display: none;

  position: absolute;
  top: 0.1rem;
  left: 0.1rem;

  width: 4rem;
  height: auto;

  filter: drop-shadow(0rem 0.3rem 0.3rem rgba(148, 163, 184, 0.3));
  pointer-events: none;
}
.header__title {
  font-family: var(--ff-abril-fatface);
  font-size: var(--fs-xmd);
  font-weight: var(--fw-xbold);

  color: var(--clr-chocolate-800);
  white-space: nowrap;
}

.nav {
  padding: 0;
  height: 2rem;
}
.nav__list {
  display: flex;
  justify-content: center;

  height: 100%;
  list-style: none;
  gap: 0.2rem;
}
.nav__item {
  cursor: pointer;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 100%;

  font-family: var(--ff-roboto-condensed);
  font-size: var(--fs-2xsm);
  font-weight: var(--fw-light);

  white-space: nowrap;
  color: var(--clr-chocolate-700);
  text-decoration: none;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.0);
  transition: all 0.2s;
}
.nav__link:hover {
  font-weight: var(--fw-reg);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.5);
  background-color: var(--clr-bg-normal);
}
