.main-section > section {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  
}

.currently-reading-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.main-section > section > div > h2 {
  font-family: var(--font-family-poiret-one);
  font-size: var(--font-size-extra-large);
  font-weight: var(--font-weight-semi-bold);
  text-decoration: underline;
  color: var(--clr-gray-700);
} 

.currently-reading-section__book-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem; 
  padding: 0 2rem;
}

.currently-reading-section__book-image {
  width: 16rem;
  height: 26rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.currently-reading-section__book-image:hover {
  box-shadow: 0.1rem -0.1rem 0.3rem rgba(148, 163, 184, 0.3);
}

.currently-reading-section__book-rating {
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-medium); 
}

.currently-reading-section__book-info-container {
  display: flex;
  flex-flow: column wrap; 
  gap: 1rem;
  max-width: 38rem;
}

.book-title {
  font-family: var(--font-family-lora);
  font-size: var(--font-size-extra-large);
  font-weight: var(--font-weight-semi-bold);
  color: var(--clr-gray-600);
}

.book-author {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-extra-light);
  font-style: var(--font-style-italic);
}

.book-review-oneline {
  font-family: var(--font-family-lora);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  color: var(--clr-gray-700);
}

.book-review-paragraph {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
  color: var(--clr-gray-700);
  line-height: 2.1rem;
}

.book-review-spoilers {
  font-family: var(--font-family-roboto-condensed);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  color: var(--clr-gray-700);
}

.currently-reading-section__book-quotes {
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-family: var(--font-family-lora);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-thin);
  padding: 0 2rem;
}

.quote-1-container, .quote-2-container, .quote-3-container, .quote-4-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 17rem;
  max-width: 30rem;
  border: 0.1rem solid var(--clr-blue-gray-300);
  border-top-right-radius: 4rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 1rem;
  padding: 3rem 4rem;
  background-color: var(--clr-blue-gray-50);
  font-style: var(--font-style-italic);
} 


.quote-mark {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  z-index: 100;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

.favourites-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.favourites-section__books-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.favourites-section__book-details {
  display: flex;
  flex-flow: row wrap;
  border: solid var(--clr-blue-gray-300);
  border-width: 0.210rem;
  border-radius: 0.5rem;
  background-color: rgba(248, 250, 252, 0.0);
  box-shadow: 0rem 0rem 0rem rgba(148, 163, 184, 0.0);
  transition: all 0.2s;
  cursor: pointer;
}

.favourites-section__book-details:hover {
  transform: translateY(-0.5rem);
  background-color: rgba(248, 250, 252, 0.7);
  filter: drop-shadow(0.1rem -0.1rem 0.2rem rgba(148, 163, 184, 0.3));
}

.favourites-section__book-details > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-gray-600);
  text-decoration: none;
  padding: 0.5rem;
  width: 23rem;
  gap: 1rem;
}

.favourites-section__book-details > a > div {
  display: flex;
  flex-direction: column;
}

.favourites-section__book-details > a > div:nth-child(1) {
  gap: 0.5rem;
}

.favourites-section__book-details > a > div:nth-child(2) {
  gap: 1rem;
}

.favourites-section__book-image {
  width: 10rem;
  height: 16rem;
  border-radius: 0.5rem;
}

.favourites-section__book-rating {
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-light);
}

.favourites-section__book-title {
  font-family: var(--font-family-lora);
  font-size: calc(var(--font-size-small) + 0.1rem);
  font-weight: var(--font-weight-medium);
}

.favourites-section__book-author {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-light);
  font-style: var(--font-style-italic);
}

.favourites-section__book-review-oneline {
  font-family: var(--font-family-lora);
}

.have-read-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.have-read-section__book-details {
  position: relative;
  transition: all 0.2s;
}

.have-read-section__book-details > a {
  display: flex;
  flex-direction: column;
  width: 10.35rem;
  text-decoration: none;
  border: solid var(--clr-blue-gray-300);
  border-width: 0.210rem;
  border-radius: 0.5rem;
  background-color: rgba(248, 250, 252, 0.0);
  box-shadow: 0rem 0rem 0rem rgba(148, 163, 184, 0.0);
  cursor: pointer;
  padding: 0.7rem;
}

.have-read-section__book-details:hover {
  transform: translateY(-0.5rem);
  background-color: rgba(248, 250, 252, 0.7);
  filter: drop-shadow(0.1rem -0.1rem 0.2rem rgba(148, 163, 184, 0.3));

}

.have-read-section__book-image {
  width: 8rem;
  height: 12rem;
  border-radius: 0.5rem;
  align-self: center;
}

.have-read-section__book-title {
  font-family: var(--font-family-lora);
  font-size: calc(var(--font-size-small) + 0.1rem);
  font-weight: var(--font-weight-medium);
  color: var(--clr-gray-600);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.have-read-section__book-author {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-light);
  font-style: var(--font-style-italic);
  color: var(--clr-gray-600);
  white-space: nowrap;
  text-overflow: ellipsis; 
  overflow: hidden;
}

.have-read-section__book-rating {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-light);
  color: var(--clr-gray-600);
}

.have-read-section__book-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.want-to-read-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.want-to-read-section__books-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 84rem;
  padding: 1rem;
  gap: 2rem;
}


.want-to-read-section__book-details {
  position: relative;
  transition: all 0.2s;
}

.want-to-read-section__book-details > a {
  display: flex;
  flex-direction: column;
  width: 10rem;
  text-decoration: none;
  border: solid var(--clr-blue-gray-300);
  border-width: 0.210rem;
  border-radius: 0.5rem;
  background-color: rgba(248, 250, 252, 0.0);
  box-shadow: 0rem 0rem 0rem rgba(148, 163, 184, 0.0);
  cursor: pointer;
  padding: 1rem;
}

.want-to-read-section__book-details:hover {
  transform: translateY(-0.5rem);
  background-color: rgba(248, 250, 252, 0.7);
  filter: drop-shadow(0.1rem -0.1rem 0.2rem rgba(148, 163, 184, 0.3));

}

.want-to-read-section__book-image {
  width: 8rem;
  height: 12rem;
  border-radius: 0.5rem;
  align-self: center;
}

.want-to-read-section__book-title {
  font-family: var(--font-family-lora);
  font-size: calc(var(--font-size-small) + 0.1rem);
  font-weight: var(--font-weight-medium);
  color: var(--clr-gray-600);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.want-to-read-section__book-author {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-extra-small);
  font-weight: var(--font-weight-light);
  font-style: var(--font-style-italic);
  color: var(--clr-gray-600);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.public-domain {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  cursor: help;
  text-decoration: none;
  font-size: 1.2rem; 
}

.legend {
  display: flex;
  align-items: center;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-small);
  border-top: none;
  border-bottom: none;
  border-left: 0.3rem solid var(--clr-blue-gray-500);
  border-right: none;
  width: 100%;
  height: 3rem;
  background-color: var(--clr-blue-gray-100); 
  padding: 1rem;
}

.legend > abbr {
  text-decoration: none;
}
