.currently-reading-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.currently-reading-section__title > h2 {
  font-family: 'poiret one';
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: underline;
  color: var(--clr-gray-700);
} 

.currently-reading-section__book-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11rem; 
}

.currently-reading-section__book-image {
  width: 16rem;
  height: 26rem;
  border-radius: 0.2rem;
}

.currently-reading-section__book-rating {
  font-family: 'poppins';
  font-weight: 300;
  font-size: 1rem; 
}

.currently-reading-section__book-info-container {
  display: flex;
  flex-flow: wrap column; 
  gap: 1rem;
  max-width: 38rem;
}

.book-title {
  font-family: 'lora';
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--clr-gray-700);

}

.book-author {
  font-family: 'poppins';
  font-size: 1.2rem;
  font-weight: 300;
}

.book-review-oneline {
  font-family: 'lora';
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--clr-gray-700);
}

.book-review-paragraph {
  font-family: 'poppins';
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  color: var(--clr-gray-700);
  line-height: 2.1rem;
}

.book-review-spoilers {
  font-family: 'roboto condensed';
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--clr-gray-700);
}

