@media (min-width: 420px) and (max-width: 599px) {

  html { scroll-padding-top: 8rem; }
  body { padding-top: 8rem; }

  .book-card { 
    width: 8rem;
    padding: 0.8rem;
    img { width: 7rem; }
  }
  .wide { width: 20rem; }

  .header__inner { padding: 0.8rem; }
  .header__title { font-size: var(--fs-2xmd); }
  .nav { height: 2.5rem; }
  .nav__link {
    font-size: var(--fs-xsm);

    width: 5rem;

    border-bottom: 0.18rem solid rgba(0, 0, 0, 0.0);
  }
  .nav__link:hover { border-bottom: 0.18rem solid rgba(0, 0, 0, 0.5); }

  .section__title { font-size: var(--fs-xmd); } 

  .currently-reading__book-image { width: 10rem; }
  .currently-reading__book-rating { font-size: var(--fs-xsm); }
  .currently-reading__book-title { font-size: var(--fs-md); }
  .currently-reading__book-author { font-size: var(--fs-xsm); }
  .currently-reading__book-review { max-width: 23rem; }
  .currently-reading__book-oneline-review { font-size: var(--fs-base); }
  .currently-reading__book-review-paragraph { font-size: var(--fs-sm); }
  .currently-reading__book-spoilers { font-size: var(--fs-sm); }
  .currently-reading__book-quotes { font-size: var(--fs-sm); }

  .quote.container {
    max-width: 15rem;
    width: auto;
    height: 12rem;

    padding: 2rem 2rem;
  } 

  .quote-mark {
    top: 1.0rem;
    left: 1.0rem;

    width: 0.8rem;
  }

  .book-card__title { font-size: var(--fs-sm); }

  .book-card__author,
  .book-card__rating { font-size: var(--fs-xsm); }

  .favourite__book-review-paragraph { font-size: var(--fs-xsm); }

  .legend { font-size: var(--fs-xsm); }
  .public-domain { font-size: var(--fs-2xmd); }

  .footer__link-icon { width: 1.3rem; }
  .footer__link-icon:hover { width: 1.2rem; }
  .footer__link-icon:active { 
    width: 1.1rem;
    box-shadow: none;
  }
}

@media (min-width: 600px) and (max-width: 767px) { }

@media (min-width: 768px) and (max-width: 991px) { }

@media (min-width: 992px) and (max-width: 1199px) { }

@media (min-width: 1200px) and (max-width: 1439px) { }

@media (min-width: 1440px) and (max-width: 1919px) { }

@media (min-width: 1920px) { }

