@media (max-width: 481px) {
  * {
    overflow-x: hidden;
  }

  html {
    scroll-padding-top: 10rem;
  }

  body {
    padding-top: 9rem;
  }

  .header {
    height: 7rem;
  }

  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    height: 5rem;
  }

  .header__logo {
    position: static;
    width: 2.5rem;
    height: 3rem;
  }

  .header__title {
    font-size: calc(var(--font-size-medium) + 0.1rem);
  }

  .navbar {
    height: 3rem;
    font-size: var(--font-size-extra-extra-small);
  }

  .navbar__list {
    height: 100%;
    gap: 0.5rem;
  }

  .navbar__list__item {
    height: 100%;
}

  .navbar__list__item > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-extra-extra-small);
    height: 100%;
    padding: 0 0.3rem;
  }

  .navbar__list__item > a:hover {
    border-bottom: 0.185rem solid rgba(0, 0, 0, 0.5);
  }

  .main-section > section {
    margin-bottom: 5rem;
  }

  .main-section > section > div > h2 {
    font-size: var(--font-size-medium);
  }

  .currently-reading-section {
    padding: 0;
    gap: 3rem;
  }

  .currently-reading-section__books-container {
    align-items: flex-start;
    padding: 0.5rem;
    gap: 2rem;
  }

  .currently-reading-section__book-image-container {
    width: 7rem;
    padding-top: 0.5rem;
  }

  .currently-reading-section__book-image {
    width: 7rem;
    height: 11rem;
    border-radius: 0.1rem;
  } 

  .currently-reading-section__book-info-container {
    width: 13rem;
    gap: 0.5rem;
  }

  .book-header > .book-title {
    font-size: var(--font-size-small); 
  }

  .book-header > .book-author {
    font-size: var(--font-size-extra-extra-small);
  }

  .currently-reading-section__book-rating {
    font-size: calc(var(--font-size-extra-small) - 0.1rem);
  }

  .book-review-oneline {
    font-size: var(--font-size-extra-small);
  }

  .book-review-paragraph {
    font-size: var(--font-size-extra-extra-small);
  }

  .book-review-spoilers {
    font-size: var(--font-size-extra-extra-small);
  }

  .currently-reading-section__book-quotes {
    padding: 0.4rem;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .quote-1-container, .quote-2-container, .quote-3-container, .quote-4-container {
    width: 11rem;
    height: 9rem;
    padding: 1rem;
    border-top-right-radius: 3rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 0.3rem;
  }

  .quote-mark {
    top: 1rem;
    left: 1rem;
    width: 0.5rem;
    height: 0.5rem;
  }

  .quote-1, .quote-2, .quote-3 {
    font-size: var(--font-size-extra-extra-small);
  }

  .favourites-section {
    gap: 2rem;
  }

  .favourites-section__books-container {
    flex-flow: column wrap;
    align-items: center;
    padding: 0.5rem;
  }

  .favourites-section__book-details {
    width: 18rem;
    height: 11rem;
    border-width: 0.150rem;
    border-radius: 0.2rem;
  }

  .favourites-section__book-image {
    width: 5rem;
    height: 8rem;
    border-radius: 0.2rem;
  }

  .favourites-section__book-details > a > div:nth-child(1) {
    gap: 0.1rem;
  }

  .favourites-section__book-details > a > div:nth-child(2) {
    gap: 0.3rem;
  }

  .favourites-section__book-info-container {
    width: 10rem;
    gap: 0rem;
  }

  .favourites-section__book-rating {
    font-size: calc(var(--font-size-extra-extra-extra-small) + 0.2rem);
  }

  .favourites-section__book-title {
    font-size: var(--font-size-extra-small);
  }

  .favourites-section__book-author {
    font-size: var(--font-size-extra-extra-small)

  }

  .favourites-section__book-review-paragraph {
    font-size: var(--font-size-extra-extra-small);
  }

  .have-read-section {
    gap: 2rem;
  }

  .have-read-section__books-container {
    gap: 1rem; 
    padding: 0.5rem;
  }

  .have-read-section__book-details {
    width: 7.2rem;
    height: 13rem;
    border-radius: 0.2rem;
    border-width: 0.18rem;
    padding: 0.5rem;
    overflow-y: hidden;
  }

  .have-read-section__book-details > a {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .have-read-section__book-image {
    width: 6rem;
    height: 11rem; 
    border-radius: 0.2rem;
    align-self: center;
  }

  .have-read-section__book-title {
    font-size: calc(var(--font-size-extra-small) - 0.1rem); 
  }

  .have-read-section__book-author {
    font-size: calc(var(--font-size-extra-extra-small) - 0.1rem); 
  }

  .have-read-section__book-rating {
    overflow-y: hidden;
    font-size: var(--font-size-extra-extra-extra-small); 
  }


  .want-to-read-section {
    gap: 2rem;
  }

  .want-to-read-section__books-container {
    padding: 0.5rem;
    gap: 1rem;
  }

  .want-to-read-section__book-details {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 7.2rem;
    height: 12.5rem;
    border-radius: 0.2rem;
    border-width: 0.18rem;
    padding: 0.5rem;
  }

  .want-to-read-section__book-details > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 100%;
  }

  .want-to-read-section__book-image {
    display: flex;
    width: 6rem;
    height: 11rem;
    border-radius: 0.2rem;
    align-self: center;
  }

  .want-to-read-section__book-title {
    font-size: calc(var(--font-size-extra-small) - 0.1rem);
  }

  .want-to-read-section__book-author {
    font-size: calc(var(--font-size-extra-extra-small) - 0.1rem);
  }

  .legend {
    font-size: var(--font-size-extra-extra-small);
    height: 2.5rem;
    border-left: 0.2rem solid var(--clr-blue-gray-500);
    padding: 0.5rem;
  }

  .public-domain {
    top: -0.2rem;
    right: 0rem;
    font-size: 0.7rem;
  }

  .footer-section__links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
    gap: 1rem;
  }

  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-item > a {
    overflow-y: hidden;
  }

  .footer-item > a > img {
    width: 1.2rem;
    height: auto;
    border-radius: 0.2rem;
    transition: all 0.3s;
  }

  .footer-item > a > img:hover {
    filter: drop-shadow(0rem 0.1rem 0.1rem rgba(148, 163, 184, 0.3));
  }

  .footer-item > p {
    overflow-y: hidden;
    font-size: calc(var(--font-size-extra-extra-small) - 0.1rem);
  }

}

@media (max-width: 381px) {

  * {
    overflow-x: hidden;
  }

  body {
    padding-top: 5rem;
  }

  .header {
    height: 4rem;
  }

  .header__logo {
    display: none;
  }

  .header__title {
    font-size: calc(var(--font-size-medium) - 0.1rem);
  }

  .navbar {
    display: none;
  }

  .main-section > section {
    margin-bottom: 3rem;
  }

  .main-section > section > div > h2 {
    font-size: var(--font-size-regular);
  }

  .currently-reading-section {
    padding: 0;
    gap: 2rem;
  }


  .currently-reading-section__books-container {
    width: 100%;
    padding: 0.5rem;
    gap: 1rem;
  }

  .currently-reading-section__book-image-container {
    display: flex;
    flex-direction: column;
    width: 7rem;
    align-self: flex-start;
    justify-self: center;
    padding-top: 0.5rem;
  }

  .currently-reading-section__book-image {
    width: 6rem;
    height: 10rem;
    border-radius: 0.1rem;
  } 

  .currently-reading-section__book-info-container {
    width: 12rem;
  }

  .book-header > .book-title {
    font-size: var(--font-size-extra-small); 
  }

  .book-header > .book-author {
    font-size: var(--font-size-extra-extra-small);
  }

  .currently-reading-section__book-rating {
    font-size: calc(var(--font-size-extra-extra-small) - 0.1rem);
  }

  .book-review-oneline {
    font-size: var(--font-size-extra-small);
  }

  .book-review-paragraph {
    font-size: var(--font-size-extra-extra-small);
  }

  .book-review-spoilers {
    font-size: var(--font-size-extra-extra-small);
  }

  .currently-reading-section__book-quotes {
    gap: 2rem;
  }

  .quote-1-container, .quote-2-container, .quote-3-container, .quote-4-container {
    width: 13rem;
    height: 8rem;
    padding: 1.5rem;
    border-top-right-radius: 3rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 0.3rem;
  }

  .quote-mark {
    top: 1rem;
    left: 1rem;
    width: 0.5rem;
    height: 0.5rem;
  }

  .quote-1, .quote-2, .quote-3 {
    font-size: var(--font-size-extra-extra-small);
  }


  .favourites-section {
    gap: 2rem;
  }

  .favourites-section__books-container {
    flex-flow: column wrap;
    align-items: center;
    padding: 0.5rem;
  }

  .favourites-section__book-details > a {
    padding: 0;
  }

  .favourites-section__book-details {
    width: 16rem;
    height: 10rem;
    border-width: 0.150rem;
    border-radius: 0.2rem;
  }

  .favourites-section__book-details:hover {
    transform: none;
  }

  .favourites-section__book-image {
    width: 4rem;
    height: 6rem;
    border-radius: 0.2rem;
  }

  .favourites-section__book-details > a > div:nth-child(1) {
    gap: 0.1rem;
  }

  .favourites-section__book-details > a > div:nth-child(2) {
    gap: 0.3rem;
  }

  .favourites-section__book-info-container {
    width: 10rem;
    gap: 0rem;
  }

  .favourites-section__book-rating {
    font-size: var(--font-size-extra-extra-extra-small);
  }

  .favourites-section__book-title {
    font-size: var(--font-size-extra-small);
  }

  .favourites-section__book-author {
    font-size: var(--font-size-extra-extra-small)

  }

  .favourites-section__book-review-paragraph {
    font-size: var(--font-size-extra-extra-small);
  }

  .have-read-section {
    gap: 2rem;
  }

  .have-read-section__book-details {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 5rem;
    height: 9.7rem;
    border-radius: 0.2rem;
    border-width: 0.18rem;
    padding: 0.3rem;
  }

  .have-read-section__book-details:hover {
    transform: none; 
  }

  .have-read-section__book-details > a {
    width: 4rem;

  }

  .have-read-section__book-image {
    display:flex;
    width: 4rem;
    height: 6rem;
    border-radius: 0.2rem;
    align-self: center;
  }

  .have-read-section__book-title {
    font-size: var(--font-size-extra-extra-small); 
  }

  .have-read-section__book-author {
    font-size: var(--font-size-extra-extra-extra-small); 
  }

  .have-read-section__book-rating {
    font-size: var(--font-size-extra-extra-extra-small); 
  }

  .have-read-section__books-container {
    gap: 1rem; 
  }

  .want-to-read-section {
    gap: 2rem;
  }

  .want-to-read-section__book-details {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 8rem;
    border-radius: 0.2rem;
    border-width: 0.18rem;
    padding: 0.3rem;
  }

  .want-to-read-section__book-details:hover {
    transform: none;
  }

  .want-to-read-section__book-details > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 100%;
  }

  .want-to-read-section__book-image {
    display: flex;
    width: 4rem;
    height: 7rem;
    border-radius: 0.2rem;
    align-self: center;
  }

  .want-to-read-section__book-title {
    font-size: var(--font-size-extra-extra-small);
  }

  .want-to-read-section__book-author {
    font-size: var(--font-size-extra-extra-extra-small);
  }

  .want-to-read-section__books-container {
    padding: 2rem;
    gap: 1rem;
  }

  .legend {
    font-size: var(--font-size-extra-extra-small);
    height: 1.5rem;
    padding: 0.5rem;
  }

  .public-domain {
    top: -0.2rem;
    right: 0;
    font-size: 0.6rem;
  }

  .footer-section__links-container {
    height: 3rem;
  }

  .footer-item > a {
    overflow-y: hidden;
  }

  .footer-item > a > img {
    width: 0.9rem;
    height: auto;
    border-radius: 0.2rem;
    transition: all 0.3s;
  }

  .footer-item > a > img:hover {
    filter: drop-shadow(0rem 0.2rem 0.1rem rgba(148, 163, 184, 0.3));
  }

  .footer-item > p {
    overflow-y: hidden;
    font-size: var(--font-size-extra-extra-extra-small);
  }
}
